* {
    all: unset;
}
.graph-row {
    padding: 4px;
}

.graph-graph {
    color: #656555;
} 

.stat-box {
    background-color: rgba(33, 33, 33, 0.15);
    border: 0.5px solid #555555;
    border-radius: 12px;
    padding: 10px;
}

.graph-tag {
    color: #7a7c7f;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 10px;
}

.proc-panel {
    background-color: rgba(33, 33, 33, 0.15);
    border: 0.5px solid #555555;
    border-radius: 12px;
    padding: 10px;
}

.panel-title {
    color: #7a7c7f;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 10px;
}

.proc-name {
    color: #7a7c7f;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 10px;
}

.proc-val {
    color: #656555;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 10px;
}

.graph-net-down { color: #656555; }
.graph-net-up { color: #656555; }

.journal-panel {
    background-color: transparent;
    padding: 8px;
}

.journal-line {
    color: #4b4b48;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
}